$darkgrey: #444;
$lightgrey: #d4d4d5;
$light: rgb(238, 243, 243);
$lightT: rgba(238, 243, 243, 0.95);
$lightTT: rgba(238, 243, 243, 0.5);
$dark: #3e9999;
$darker: #308484;
$linkColor: #518dc8;
$linkHover: #1e70bf;
